/*FONTS*/

@import url('https://fonts.googleapis.com/css?family=Roboto');
/*COLORES*/

:root {
    --main-bg-azul: #3F6393;
    --main-bg-rojo: #932F49;
    --main-bg-verde: #337849;
    --main-bg-amarillo: #F5E985;
    --main-txt-color: black;
    --main-txt-azul: #3F6393;
    --main-txt-amarillo: #F5E985;
    --main-txt-rojo: #932F49;
}
* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: var(--main-bg-rojo);
    font-size: 17px;
}
.container {
    background-color: white;
    margin: 0px 4%;
    height: 2000px;
}

.mensaje{
    display: none;
}
.mensaje_show{
    display: block;
    background-color: var(--main-bg-rojo);
    border:solid 3px var(--main-txt-amarillo);
    color: white;
    height: 400px;
    width: 700px;
    position: fixed;
    right: 20%;
    top: 100px;
    z-index: 5000;
    padding: 20px;
}
.mensaje .msj_close{
    display: flex;
    justify-content: flex-end;
    font-family: Roboto;
    width: 100%;
}

.msj_close h1{
    color: var(--main-txt-amarillo);
}

#closeMsj{
    margin-left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 30px;
    width:30px;
}
#closeMsj:hover{
    cursor: pointer;
}

.form_msj{
    margin-top: 30px;
    font-family: Roboto;
    padding: 10px;
}

.form_msj p{
    margin-bottom: 10px;
}

.form_msj p input{
    height: 30px;
    width: 100%;
    font-size: 20px;
    font-family: monospace;
    color: var(--main-txt-azul);
}

.form_msj p textarea{
    width: 100%;
    height: 100px;
    font-size: 20px;
    font-family: monospace;
    color: var(--main-txt-azul);
}
.form_msj p input[type="submit"]{
    font-family: Roboto;
    width: 30%;
}
.form_msj p input[type="submit"]:hover{
    font-family: Roboto;
    cursor: pointer;
}
header {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    height: 10em;
    justify-content: space-between;
    padding: 1em;
}
header .logo {
    display: flex;
    flex-basis: 20%;
    justify-content: center;
}
header .logo img {
    width: 8em;
}
header .nombre {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
header .nombre h2 {
    text-align: center;
    font-size: 1.8em;
    font-family: batang;
    color: var(--main-txt-amarillo);
    /* Valores anchura y color */
    -webkit-text-stroke: 1.2px #932F49;
    text-shadow: 1px 1px 6px black;
}
header .social {
    display: flex;
    flex-basis: 20%;
    justify-content: center;
    align-items: center;
}
header .social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.3em;
    height: 2.3em;
    border-radius: 100px;
    background-color: var(--main-bg-azul);
    color: white;
    margin: 0px 2px;
    text-decoration-line: none;
}
header .social a i {
    color: #F5E985;
}
header .social a:hover {
    cursor: pointer;
    background-color: var(--main-bg-rojo);
}
.slider {
    height: 1000px;
    background-color: white;
}

nav {
    display: flex;
    height: 3em;
    background-color: var(--main-bg-azul);
    margin: 10px 0px;
    flex-direction: row;
    justify-content: flex-end;
}
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
    flex-wrap: wrap;
}
nav ul li {
    margin: 0px 3px;
    background-color: var(--main-bg-rojo);
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0px 8px;
    
}
nav ul li a:hover {
    color: #F5E985;
}
nav ul li a {
    text-decoration-line: none;
    color: white;
    font-size: 0.7em;
    font-family: Roboto;
}
article.nivel {
    height: 500px;
    display: flex;
    margin: 10px 0px;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative;
    z-index: 100;
}
.nivel .pre {
    display: flex;
    height: 300px;
    width: 400px;
    margin-right: 15px;
    background-color: white;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    background: var(--main-bg-azul);
    flex-direction: column;
    text-align: center;
    color: white;
    box-shadow: 1px 3px 6px 1px black;
    cursor: pointer;
    border: 1px white solid;

}


.pre span{
    color: var(--main-txt-amarillo);
}
.pre span:hover{
    font-size: 20px;
    padding: 0px 4px;
    color: white;
    background-color: var(--main-bg-rojo);
}
.p_inf{
    display: none;
}

.pre_info{
    display: flex;
    height: 800px;
    background-color: white;
    padding:10px 20px;
    font-family: Roboto;
    flex-wrap: wrap;
}
.pre_info p{
    flex-basis: 100%;
}

.ocultar{
    display: none;
}
.titleClose{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
}
.titleClose h1{
    color: var(--main-bg-azul);


}
.titleClose div{
    background-color:var(--main-bg-azul);
    color: var(--main-txt-amarillo);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    height: 50px;
    width: 50px;
    margin-right: 30px;
}
.titleClose div:hover{
    cursor: pointer;
}
.pre_info p h1{
    color: red;
}

.pre_info .oneImg{
    flex-basis: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.pre_info .images{
    flex-basis: 50%;
}

.nivel .prima {
    display: flex;
    height: 300px;
    width: 400px;
    margin-right: 15px;
    background-color: white;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    background: var(--main-bg-azul);
    flex-direction: column;
    text-align: center;
    color: white;
    box-shadow: 1px 3px 6px 1px black;
    cursor: pointer;
    border: 1px white solid;
}
.prima span{
    color: var(--main-txt-amarillo);
}
.prima span:hover{
    font-size: 20px;
    padding: 0px 4px;
    color: white;
    background-color: var(--main-bg-rojo);
}
.nivel .pre h2 {
    color: #F5E985;
    margin-bottom: 10px;
    text-shadow: 1px 1px 3px black;
}
.nivel .prima h2 {
    color: #F5E985;
    margin-bottom: 10px;
    text-shadow: 1px 1px 3px black;
}
.nivel .pre p {
    text-shadow: 1px 1px 3px black;
}
.nivel .prima p {
    text-shadow: 1px 1px 3px black;
}
.vision {
    display: flex;
    height: 700px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.vision .letras {
    display: flex;
    flex-direction: column;
    flex-basis: 250px;
    width: 95%;
    font-family: sans-serif;
    padding: 10px;
    align-items: center;
    justify-content: center;
    background-color: var(--main-bg-rojo);
    color: white;
}
.vision .video {
    display: flex;
    padding: 10px;
    width: 95%;
    justify-content: center;
    background-color: white;
}
.vision .letras p {
    margin: 10px 0px;
    text-align: center;
}
.vision .letras h1 {
    color: var(--main-txt-amarillo);
}
.contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    padding: 30px 0px;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.contact h2 {
    text-align: center;
    color: white;
    font-family: sans-serif;
    margin: 20px 0px;
}
.con {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 300px;
    background-color: var(--main-bg-azul);
}
.con form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--main-bg-rojo);
    color: var(--main-bg-amarillo);
}
.con form .iz {}
.con form input {
    height: 20px;
    font-size: 15px;
}
.con form textarea {
    width: 406px;
    height: 100px;
    font-family: sans-serif;
    font-size: 15px;
}
.con form #btn-enviar {
    color: white;
    border: none;
    height: 30px;
    width: 100px;
    background-color: var(--main-bg-amarillo);
}
footer {
    height: 100px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-bg-amarillo);
    padding: 0px 30px;
    font-family: sans-serif;
}
.f-left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.f-right{
    display: flex;
    flex-direction: column;
    
}
.f-right span{
    margin: 3px;
}

.f-right i{
    color: var(--main-bg-azul);
}
.icon{   
   background-color: #185084;
display: none;
}



@media only screen and (max-width:600px) {
    header .nombre {
        display: none;
    }
    header .social {
        display: none;
    }
    header .logo {
        flex-basis: 100%;
    }
    .nivel {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .nivel .pre {
        margin-bottom: 15px;
        padding-bottom: 10px;
        width: 90%;
    }
    .nivel .prima{
      padding-bottom: 10px;
      width: 90%;
    }

    nav ul{
      justify-content:flex-start;
      z-index: 200;
    }

    ul li{
      width: 50%;
      border-radius: 0%;

    }

   nav{
      justify-content: flex-start;
   }
    .lista{
      display: none !important;
    }
    .icon{
      display: flex;
      align-items: center;
      justify-content: flex-end;
   }

   .icon i{
      cursor: pointer;
      padding: 10px;
      color: var(--main-bg-amarillo);
      font-size: 20px;
   }
   .pre_info{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 1000px;
   }
   .pre_info p{
    width: 100%;
   }

   .pre_info .oneImg{
        display: none;
   }
   .pre_info .images{
    width: 100%;
   }
   .mensaje_show{
    width: 80%;
    height: 550px;
    right:5%;
   }
   .video img{
    width:80%;
    height: 80%;
   }
}